# APP_URL: The URL where this app is hosted.
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"

# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyCVKH_r4VfUrBsiA0RACVG6G3-AOpHbJf4"
VITE_FIREBASE_AUTH_DOMAIN="livestockairsense.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="livestockairsense"
VITE_FIREBASE_STORAGE_BUCKET="livestockairsense.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="40896854963"
VITE_FIREBASE_APP_ID="1:40896854963:web:72ec6d9c524318998229c6"
VITE_FIREBASE_DATABASE_ID="(default)"
VITE_FIREBASE_MEASUREMENT_ID="G-6D2XXYY272"
